.header{
	font-family:'Alfa Slab One', cursive;
	font-size: 105px;
	text-align: left;
	float:left;
	z-index: 1;
}

.header:hover{
	text-shadow: 3px 3px #85888E;
	color:#fff;
}

.login-sign-up-header{
	height:75px;
	width:100%;
	background: #85888E;
    background: -webkit-linear-gradient(left, #fff, #85888E 85%, #293f50);
    background: -o-linear-gradient(left, #fff, #85888E 85%, #293f50);
    background: linear-gradient(to right, #fff, #85888E 85%, #293f50);
    z-index: 1;
}

.header-btn{
	font-size: 15px;
	float:right;
	font-family: 'Roboto', sans-serif;
	margin-right:15px;
	margin-top: 90px;
}

.header-btn:hover{
	text-shadow: -1px 0 #85888E, 0 1px #85888E, 1px 0 #85888E, 0 -1px #85888E;
	color: #fff;
}

.jumbotron {
	z-index:2;
	background: center center;
}

.jumbotron-image {
	position:relative;
	text-align: center;
	height: 100%;
	width:100%;
	margin-top: 0px;
	margin-bottom:0px;
}

.text{
	margin-left: 30%;
	margin-right:30%;
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	text-align: center;
}

.search-bar-title{
	margin-top: 40px;
	text-align: center;
	font-family:'Alfa Slab One', cursive;
	font-size: 40px;
}

.radio-btn{
	float:left;
	width:100px;
	height:80px;
	margin:10px;
	display:block;
}

.radio-btn-master{
	width:100%;
	vertical-align: center;
	float:left;
}

.radio-btn-container{
	padding-left: 33%;
	width:100%;
	background: #85888E;
}

.page-break{
	height:35px;
	margin-top:45px;
	width:100%;
	background: #85888E;
    background: -webkit-linear-gradient(left, #fff, #85888E 85%, #293f50);
    background: -o-linear-gradient(left, #fff, #85888E 85%, #293f50);
    background: linear-gradient(to right, #fff, #85888E 85%, #293f50);
    z-index: 1;
}

.shop-header{
	margin-top: 75px;
	margin-bottom: 30px;
	text-align: center;
	font-family:'Alfa Slab One', cursive;
	font-size: 40px;
}

.art{
	margin: 5px;
	height:375px;
	width:375px;
}

.art:hover{
	border: 2px solid #85888E ;

}

.products-list{
	width:100%;
	padding-bottom: 100px;
}

.product-title{
	margin-top: 75px;
	text-align: center;
	font-family:'Alfa Slab One', cursive;
	font-size: 40px;
}

.single-product{
	text-align: center;
	width:100%;
}

.product-info{
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
}

.log-in-title{
	text-align: center;
	font-family:'Alfa Slab One', cursive;
	font-size: 40px;
}

.log-in-form{
	text-align: center;
	padding-top: 40px;
	width:100%;
	height:300px;
	background:#85888E;
}

.sign-up-title{
	text-align: center;
	font-family:'Alfa Slab One', cursive;
	font-size: 40px;
}

.sign-up-form{
	text-align: center;
	padding-top: 40px;
	width:100%;
	height:300px;
	background:#85888E;
}

.sign-up-form-element{
	text-align: center;
	width:100%;
}


.whoami{
	text-align: center;
	vertical-align: center;
}

.whoami-text{
	float:left;
	font-size: 10px;
}

.shopping-cart-header{
	text-align: center;
	font-family:'Alfa Slab One', cursive;
	font-size: 40px;
}

.shopping-cart-container{
	width:100%;
	text-align: center;
}
.shopping-cart-footer{
	text-align: center;
	padding-top: 25px;
	font-family:'Alfa Slab One', cursive;
	font-size: 20px;
}

.checkout-component{
	text-align:center;
	width:100%;
}

.checkout-footer{
	text-align: center;
	font-family:'Alfa Slab One', cursive;
	font-size: 20px;
}

.payment-container{
	width:100%;
	height:500px;
	padding-left:20%;
	text-align: center;
	position:relative;
	background: #85888E;
}

.payment{
	float:left;
}

.payment-2{
	float:left;
}

.checkout-thankyou-container{
	text-align:center;
	position:relative;
	width:100%;
}

.checkout-thankyou{
	text-align: center;
	padding-top: 25px;
	font-family:'Alfa Slab One', cursive;
	font-size: 40px;
	width:100%;
}

.account-header{
	text-align: center;
	font-family:'Alfa Slab One', cursive;
	font-size: 40px;
}

.order-component{
	width:100%;
}





